@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");
* {
    box-sizing: border-box; }

body {
    font-family: 'Raleway';
    margin: 0; }

.container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto; }

/* Zmienne */
/* Zmienne */
/* Extend */
.text-margin, .featured p, .copyright p {
    text-align: center;
    margin: 0 auto; }

/* Extend */
/* Naglowek */
header {
    background-color: #313234;
    height: 50px; }

.row:before,
.row:after {
    content: "";
    display: table;
    clear: both; }

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: right; }
nav li {
    display: inline-block; }
nav a {
    line-height: 50px;
    padding: 0 20px;
    display: block;
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bolder; }
nav a:hover {
    color: #0abde3; }
nav img {
    padding: 10px 0; }

/* Naglowek */
/* Slogan */
.hero {
    background-image: url(https://images.unsplash.com/photo-1522205445560-4630427027e3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1d6dff78cad1ece4d14fbf6d50ac3325&auto=format&fit=crop&w=1950&q=80);
    background-repeat: no-repeat;
    height: 550px;
    width: 100%;
    background-size: cover;
    background-position: bottom; }

.slogan {
    background-color: rgba(0, 0, 0, 0.5);
    max-width: 800px;
    width: 500px;
    height: 150px;
    padding: 15px;
    position: relative;
    float: right;
    top: 300px; }
.slogan h1 {
    color: #FFF;
    font-size: 35px; }
.slogan p {
    color: #FFF;
    font-size: 20px; }

[class*="col-"] {
    float: left;
    min-height: 1px;
    padding: 0px;
    width: 100%; }

/* Slogan */
/* Grid */
.col-1 {
    width: 8.33%; }

.col-2 {
    width: 16.66%; }

.col-3 {
    width: 25%; }

.col-4 {
    width: 33.33%; }

.col-5 {
    width: 41.66%; }

.col-6 {
    width: 50%; }

.col-7 {
    width: 58.33%; }

.col-8 {
    width: 66.66%; }

.col-9 {
    width: 75%; }

.col-10 {
    width: 83.33%; }

.col-11 {
    width: 91.66%; }

.col-12 {
    width: 100%; }

/* Grid */
/* Sekcja korzysci*/
.icon {
    background-color: #313332;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    font-size: 90px;
    color: #FFF;
    padding: 22px;
    border-radius: 25%; }
.icon:hover {
    background-color: #0abde3;
    cursor: pointer; }

.benefits {
    margin-top: 100px; }
.benefits h1 {
    font-size: 22px;
    text-align: center;
    color: #313234;
    text-transform: uppercase; }
.benefits p {
    font-size: 18px;
    text-align: center;
    color: #676b69; }

/* Sekcja korzysci */
/* Naglowek Featured Works */
.featured h1 {
    font-size: 60px;
    text-transform: uppercase;
    color: #313234;
    text-align: center;
    margin-top: 140px;
    font-weight: bolder; }
.featured p {
    font-size: 18px;
    color: #676b69;
    max-width: 700px; }

/* Naglowek Featured Works*/
/* Galeria */
.gallery {
    margin-top: 70px;
    max-width: 100%; }
.gallery img {
    height: 100%;
    width: 100%;
    display: block; }
.gallery .pic {
    height: 100%;
    position: relative; }
.gallery .pic:hover .layer {
    background: rgba(0, 0, 0, 0.5); }
.gallery .pic:hover .fa {
    opacity: 1; }
.gallery .pic .layer {
    height: 100%;
    width: 100%;
    position: absolute;
    transition: .8s;
    color: #FFF;
    text-align: center;
    top: 0;
    left: 0;
    cursor: pointer; }
.gallery .pic .fa {
    position: relative;
    top: 50%;
    opacity: 0;
    transition: .8s; }

/* Galeria */
/* Pracownicy*/
.team {
    margin: 120px auto; }
.team img {
    border-radius: 50%;
    display: block;
    height: 100%;
    width: 100%;
    max-height: 240px;
    max-width: 240px;
    opacity: 0.7;
    margin: 20px auto; }
.team img:hover {
    opacity: 1;
    cursor: pointer;
    transition: .8s; }
.team h1 {
    margin: 0 auto;
    text-align: center;
    color: #676b69; }

/* Pracownicy */
/* Promocje */
.gradient-pattern {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    border: none;
    font: normal 100%/normal Arial, Helvetica, sans-serif;
    color: white;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.09804) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.09804) 75%, rgba(0, 0, 0, 0.09804) 0), -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.09804) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.09804) 75%, rgba(0, 0, 0, 0.09804) 0);
    background: -moz-linear-gradient(45deg, rgba(0, 0, 0, 0.09804) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.09804) 75%, rgba(0, 0, 0, 0.09804) 0), -moz-linear-gradient(45deg, rgba(0, 0, 0, 0.09804) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.09804) 75%, rgba(0, 0, 0, 0.09804) 0);
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.09804) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.09804) 75%, rgba(0, 0, 0, 0.09804) 0), linear-gradient(45deg, rgba(0, 0, 0, 0.09804) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.09804) 75%, rgba(0, 0, 0, 0.09804) 0);
    background-position: 40px 40px, 0 0;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: 80px 80px;
    background-size: 80px 80px; }

.promotion {
    background-color: #838584;
    height: 392px;
    color: #FFF; }
.promotion h1 {
    margin-top: 50px;
    font-size: 45px;
    text-align: justify;
    padding: 5px;
    text-transform: uppercase;
    font-family: 'Raleway';
    font-weight: bolder; }
.promotion p {
    font-size: 20px;
    padding: 5px; }

.tablet img {
    position: relative;
    top: 20px;
    height: 400px;
    width: 280px; }

/* Promocje */
/* Liczby*/
.numbers {
    height: 100%;
    margin-bottom: 50px; }
.numbers h1 {
    text-align: center;
    font-size: 70px;
    font-weight: bold; }
.numbers p {
    text-transform: uppercase;
    color: #0abde3;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: -50px; }

/* Liczby */
/* Stopka */
footer {
    height: 360px;
    background-color: #313332;
    text-align: left;
    color: #FFF; }
footer h1 {
    margin-top: 50px;
    text-align: justify;
    text-transform: uppercase; }
footer a {
    color: #FFF;
    text-decoration: none; }
footer a:hover {
    color: #0abde3;
    text-decoration: none; }

.about p {
    margin-right: 30px; }
.about h1 {
    font-weight: bold; }

.social {
    margin: 0 auto;
    width: 100%; }

.icon-btn {
    width: 35px;
    height: 35px;
    border: 0;
    color: #FFF;
    cursor: pointer;
    font-size: 17px; }
.icon-btn:hover {
    transform: scale(1.1); }

.twitter {
    color: #4099FF; }
.twitter:hover {
    background-color: #4099FF;
    color: #FFF; }

.youtube {
    color: #e74c3c; }
.youtube:hover {
    background-color: #e74c3c;
    color: #FFF; }

.facebook {
    color: #3B5998; }
.facebook:hover {
    background-color: #3B5998;
    color: #FFF; }

.google-plus {
    color: #DB5A3C; }
.google-plus:hover {
    background-color: #DB5A3C;
    color: #FFF; }

.instagram {
    color: #5C3D2E; }
.instagram:hover {
    background-color: #5C3D2E;
    color: #FFF; }

.github {
    color: #4183C4; }
.github:hover {
    background-color: #4183C4;
    color: #FFF; }

.copyright p {
    height: 70px;
    background-color: #252726;
    color: #FFF;
    padding-top: 25px; }

/* Stopka */
/* Media */
@media (max-width: 767px) {
    /* For tablets: */
    .col-s-1 {
        width: 8.33%; }

    .col-s-2 {
        width: 16.66%; }

    .col-s-3 {
        width: 25%; }

    .col-s-4 {
        width: 33.33%; }

    .col-s-5 {
        width: 41.66%; }

    .col-s-6 {
        width: 50%; }

    .col-s-7 {
        width: 58.33%; }

    .col-s-8 {
        width: 66.66%; }

    .col-s-9 {
        width: 75%; }

    .col-s-10 {
        width: 83.33%; }

    .col-s-11 {
        width: 91.66%; }

    .col-s-12 {
        width: 100%; }

    nav {
        text-align: center; }
    nav li {
        display: block; }
    nav ul {
        float: none; }

    .hero {
        background-repeat: no-repeat;
        height: 300px;
        width: 100%;
        background-size: cover;
        background-position: bottom; }

    .slogan {
        display: none; }

    .icon {
        background-color: #313332;
        width: 70px;
        height: auto;
        text-align: center;
        margin: 0 auto;
        font-size: 40px;
        color: #FFF;
        padding: 10px;
        border-radius: 25%;
        display: block;
        float: none; }

    .benefits {
        margin-top: 30px; }
    .benefits h1 {
        font-size: 14px;
        text-align: center;
        color: #313234;
        text-transform: uppercase; }
    .benefits p {
        font-size: 14px;
        text-align: center;
        color: #676b69; }

    .featured h1 {
        font-size: 30px;
        text-transform: uppercase;
        color: #313234;
        text-align: center;
        margin-top: 40px;
        font-weight: bolder; }
    .featured p {
        font-size: 14px;
        text-align: center;
        color: #676b69;
        max-width: 700px;
        margin: 0 auto;
        padding: 0 3px; }

    .gallery img {
        height: 100%;
        width: 100%;
        display: block;
        float: none;
        padding: 2px; }

    .team {
        margin: 50px auto; }
    .team img {
        border-radius: 50%;
        display: block;
        height: 100%;
        width: 100%;
        max-height: 180px;
        max-width: 180px;
        opacity: 0.7;
        margin: 20px auto; }
    .team h1 {
        margin: 0 auto;
        text-align: center;
        color: #676b69; }

    .promotion {
        background-color: #838584;
        height: 392px;
        color: #FFF; }
    .promotion h1 {
        margin-top: 50px;
        font-size: 22px;
        text-align: justify;
        padding: 5px;
        text-transform: uppercase;
        font-family: 'Raleway';
        font-weight: bolder; }
    .promotion p {
        font-size: 14px;
        padding: 5px; }

    .tablet img {
        display: none; }

    .numbers {
        height: 100%;
        margin-bottom: 20px; }
    .numbers h1 {
        text-align: center;
        font-size: 50px;
        font-weight: bold; }
    .numbers p {
        text-transform: uppercase;
        color: #0abde3;
        text-align: center;
        font-size: 15px;
        font-weight: bold;
        margin-top: -45px; }

    footer {
        height: 100%;
        background-color: #313332;
        text-align: left;
        color: #FFF;
        padding: 5px; }

    footer h1 {
        font-size: 24px; }

    .about h1 {
        margin-top: 10px;
        text-align: justify;
        text-transform: uppercase; }

    .social {
        text-align: center; } }
/* Media */
